@import "tailwindcss";

@theme {

    --color-primary: #030711;
    --color-secondary: #FFFFFF;
    --color-tertiary: #6B7280;
    --color-placeholder: #EAEAEA;
    --border-primary: #E5E7EB;

    /*Sales*/
    --color-red-grad: #EF4444;
    --color-pink-grad: #DB2777;
    --color-red-text: #DC2626;

}

@layer base {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html,
    body {
          width: 100%;
    }

    header {
        width: 100%;
    }

}

@layer components {

}