@import "tailwindcss";

@theme {

    --color-primary: #030711;
    --color-secondary: #FFFFFF;
    --color-tertiary: #6B7280;
    --color-placeholder: #EAEAEA;
    --border-primary: #E5E7EB;

}

@layer base {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html,
    body {
          width: 100%;
    }
    html,
    body {
          width: 100%;
    }

    #root {
        height: 100%;
    }

    header {
        width: 100%;
    }

}

@layer components {
}