@import "tailwindcss";

@theme {

    --color-primary: #030711;
    --color-secondary: #FFFFFF;
    --color-tertiary: #6B7280;
    --border-primary: #E5E7EB;
}

@layer base {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html,
    body {
          width: 100%;
    }
    #root {
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    header {
        width: 100%;
    }

}

@layer components {

}